<h1>Movies</h1>
  <ul>
  <% @movies.each do |movie| %>
  <li> <%= link_to movie.title %> </li>
  <% end %>
</ul>

<%= link_to 'Create a new list', new_list_path(@movies) %>
<%= link_to 'View list', lists_path %>
